  <% provide(:title, 'All Staffs') %>
  <h1>職員一覧</h1>

  
  <%= will_paginate %>
  <div class="col-md-10 col-md-offset-1">
    
    <table class="table">
      <% @staffs.each do |staff| %>
        <tr>
          <td>
            <%= staff.name %>
            <%= link_to "削除", staff, method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </table>
      <%= will_paginate %>
  </div>


     
    
    
    
  
    
  
  <div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        
         
  
       
        
          
          