<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>00の里デイサービス
  <br>利用者管理システム</h1>
  <% if logged_in? %>
   <a class= "btn btn-lg btn-primary disabled">ログイン済</a>
  <% else %>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  <p>アカウント作成は<%= link_to "こちら", new_staff_path, class: "btn primary" %>から</p>
  <% end %>
  <br>
  <br><a href="https://lin.ee/BVjbJnS"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>

</div>
  