<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>00の里利用者管理システム</h1>
  <% if logged_in? %>
   <a class= "btn btn-lg btn-primary disabled">ログイン済み</a>
  <p>アカウント作成は<%= link_to "こちら", signup_path, class: "btn primary" %>から</p>
  <% else %>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  <p>アカウント作成は<%= link_to "こちら", signup_path, class: "btn primary" %>から</p>
  <% end %>

</div>
  