<% provide(:title, '拠点情報一覧') %>
<h1>拠点情報一覧</h1>

     <table class="table table-bordered table-condensed user-table">
      <thead>
        <tr>
          <td></td>
          <td></td>
          <td>拠点番号</td>
          <td>拠点名</td>
          <td>拠点情報</td>
        </tr>
      </thead>
      
      <tbody>
        
      <% @offices.each do |office| %>
        <tr>
       
        <% if current_user.admin? %>
        <td><% link_to"削除", office, method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "btn btn-primary" %>
        <% end %>          
            </td>
        <td><%= office.office_number %></td>
        <td><%= office.office_name %></td>
        <td><%= office.office_modality %></td>
        </tr>
      <% end %>
      </tbody>
          
    </table>
 
          