<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header" , style="border:none">
      <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
        <span aria-hidden="true">
          <font style="vertical-align: inherit;">×
          </font>
        </span>
        </button>
      <h1 class="modal-title" , style="text-align:center">勤勉</h1>
    </div>
  </div>
</div>  