<h1>利用者情報報告書</h1>
  <%= form_with(model: @client, url: update_monitoring_basic_info_client_path(@client), method: :patch, local: true) do |f| %>
    <p>利用者名: <%= @client.client_name %>様の令和 年 月の利用者状況をご報告いたします。</p>
  <% end %>  

