<div class= "center">
  <table class="table table-bordered table-condensed table-hover" id="table-client">
    <meta charset = " utf-8 " />
      <h1 class="monitoring-title"><%= @client.client_name %>様の利用者情報報告書一覧</h1>
      
      
        <p><span class="under">利用者名: <%= @client.client_name %>様の令和
      
      の利用者の状況をご報告いたします。
      </span></p>
  </table>    
</div>      