<div class= "center"> 
	<table align="center" class="table-border-dark table-condensed table-hover shifts-table">
	<%=%>
		<thead>
			<tr>
				<th></th>
				<% [*@first_day..@last_day].each do |day| %>
					<th width="1"><%= day.strftime("%d") %></th>
				<% end %>
			</tr>
			<tr>
				<th></th>
				<% [*@first_day..@last_day].each do |day| %>
					<th width="1"><%= $days_of_the_week[day.wday] %></th>
				<% end %>
			</tr>
			<tr>
				<th></th>
				<% [*@first_day..@last_day].each do |day| %>
					<th width="1"></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @staffs.each do |staff| %>
				<tr>
					<th width="0"><%= staff.name %></th>
					<% [*@first_day..@last_day].each do |day| %>
						<td width="1"></td>
					<% end %>	
				</tr>
			<% end %>	
		</tbody>
	</table>
</div> 