<table align="center" cellspacing="5", cellpadding="5">
	<thead>
		<tr>
			<% [*@first_day..@last_day].each do |day| %>
				<th></th>
				<th></th>
				<th><font size="5"><%= day.strftime("%d") %></font></th>
			<% end %>
		</tr>
		<tr>
			<% [*@first_day..@last_day].each do |day| %>
				<th></th>
				<th></th>
				<th><font size= "5"><%= $days_of_the_week[day.wday] %></font></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @staffs.each do |staff| %>
			<tr>
				<th></th>
				<td><font size= "5"><%= staff.name %></font></td>
			</tr>
		<% end %>	
	</tbody>
</table>