// Place all the styles related to the businesslogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }

  .businesslog_copy {
    
  }

  input[type="number"] {
    width: 50px;
    height: 25px;
}
